html,
body {
  font-family: Arial, sans-serif;
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

#map {
  height: 100vh;
}

input {
  font-size: 12px;
}

h1 {
  color: #a9bbbb;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

#map-heading {
  padding: 7px;
  margin: 0;
  background-color: #296674;
  text-align: center;
  height: 35px;
}

.hidden {
    display: none;
}

.search-menu {
  height: 35px;
  width: 35px;
  display: block;
}