html,
body {
  font-family: Arial, sans-serif;
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

/* main {
  height: 100%;
  width: 100%;
} */

#map {
  height: 100vh;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

#map-heading {
  background-color: aquamarine;
  text-align: center;
  height: 30px;
}

.hidden {
    display: none;
}

.options-box {
  background: grey;
  border: 2px solid #999;
  border-radius: 3px;
  /* height: 100%; */
  top: -5px;
  line-height: 35px;
  /* padding: 5px 5px 15px 5px; */
  text-align: left;
  width: 340px;
  /* display: block; */
}